<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>users</title>
    <style type="text/css">
        table {
            width: 500px;
            margin: 20px auto;
            border: 1px solid black;
            border-collapse: collapse;
        }
        th,td {
            border: 1px solid black;
            height: 30px;
            text-align: center;
            font-size: 16px;
            border-collapse: collapse;/*单元格合并*/
        }
    </style>
</head>
<body>
<table>
    <tr>
        <th>id</th>
        <th>name</th>
        <th>password</th>
        <th>state</th>
        <th>salt</th>
        <th>操作</th>
    </tr>
    <tr th:each="user:${users}">
        <td th:text="${user.id}"></td>
        <td th:text="${user.name}"></td>
        <td th:text="${user.password}"></td>
        <td th:text="${user.state}"></td>
        <td th:text="${user.salt}"></td>
        <td><a th:href="@{/updateUserName(name=${user.name})}">修改</a></td>
        <td><a th:href="@{/deleteUserName(name=${user.name})}">删除</a></td>
    </tr>
</table>
</body>
</html>