<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>欢迎页[[${port}]]</title>
    <!--视图的窗口，即：视口。-->
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
    <!--BT4的CSS-->
    <link rel="styleSheet" th:href="@{bootstrap/css/bootstrap.css}">
    <!--导入自己的CSS库-->
    <link rel="stylesheet" th:href="@{css/admin.css}">
    <link rel="stylesheet" th:href="@{font/iconfont.css}">
    <!--导入favicon图标-->
    <link rel="icon" th:href="@{favicon.ico}">

</head>
<body>


<!-----------------------顶部topbar的begin--------------------------->
<!--调用公共代码片段header-->
<div th:replace="~{base::header}"></div>
<!-----------------------顶部topbar的end----------------------------->



<!------------------------左侧界面的begin------------------------------>
<section class="yida-left-side " style="background-color:rgba(37,28,51,0.07)" >
    <div class="container-fluid h-100">
    <div class=" row h-100 align-items-start"  >
        <div th:replace="~{base::leftMenuBar(cname)}"></div>
        <!------------------------左侧界面的end------------------------------>
        <!------------------------右侧界面的begin------------------------------>
        <div id="yida-main" class="col-10 " >
        <div  class="yida-right-side d-flex flex-column justify-content-center align-items-center  " >
              <h1 class="user-05" style="font-size: 45px !important;">长寿后台管理系统</h1>
        </div>
        </div>

        <!------------------------右侧界面的end------------------------------>
    </div>
    </div>
    <div th:replace="~{base::footer01}"></div>
    <div th:replace="~{base::footer02}"></div>


</section>


<!--以下bootstrap4的依赖js库，引入顺序不要错了哟!-->
<script type="text/javascript" th:src="@{bootstrap/js/jquery-3.3.1.min.js}"></script>
<script type="text/javascript" th:src="@{bootstrap/js/popper.min.js}"></script>
<script type="text/javascript" th:src="@{bootstrap/js/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{My97DatePicker/WdatePicker.js}"></script>
<script type="text/javascript" th:src="@{js/admin.js}"></script>
</body>
</html>