<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>写</title>
    <link rel="stylesheet" href="KindEditor/themes/default/default.css"/>
    <link rel="stylesheet" href="KindEditor/themes/simple/simple.css"/>
    <script charset="utf-8" src="KindEditor/kindeditor-all.js"></script>
    <script charset="utf-8" src="KindEditor/lang/zh-CN.js"></script>
    <script>
        //关闭过滤模式，保留所有标签
        KindEditor.options.filterMode = false;
        KindEditor.ready(function (K) {
            window.editor = K.create('#editor_id', {
                themeType: 'default', //定义主题风格，default，simple
                /*items:[ //定义显示的菜单图标
                    'source', '|', 'undo', 'redo', '|', 'preview', 'print', 'template', 'code', 'cut', 'copy', 'paste',
                    'plainpaste', 'wordpaste', '|', 'justifyleft', 'justifycenter', 'justifyright',
                    'justifyfull', 'insertorderedlist', 'insertunorderedlist', 'indent', 'outdent', 'subscript',
                    'superscript', 'clearhtml', 'quickformat', 'selectall', '|', 'fullscreen', '/',
                    'formatblock', 'fontname', 'fontsize', '|', 'forecolor', 'hilitecolor', 'bold',
                    'italic', 'underline', 'strikethrough', 'lineheight', 'removeformat', '|', 'image', 'multiimage',
                    'table', 'hr', 'emoticons', 'baidumap', 'pagebreak',
                    'anchor', 'link', 'unlink'
            	],*/
                items: [ //定义显示的菜单图标
                    'fontsize', '|', 'forecolor', 'hilitecolor', 'bold',
                    'italic', 'underline', 'removeformat', '|', 'justifyleft',
                    'justifycenter', 'justifyright', 'insertorderedlist',
                    'insertunorderedlist', 'link', 'plainpaste', 'image'
                ],
                uploadJson: 'upload',
                fileManagerJson: 'browser',
                //指定后台接收的图片的名称
                filePostName: 'aa',
                allowFileManager: true,

            });
        });

        function getContent() {
            //方式一： 取得HTML内容
            var html = editor.html();
            console.log(html);

            //方式二： 同步数据后可以直接取得textarea的value
            //editor.sync();
            //html = document.getElementById('editor_id').value; // 原生API
            //console.log(html);
        }

        function setContent() {
            // 设置HTML内容
            editor.html('333HTML内容111222');
        }
    </script>

    <style type="text/css">
        #div_editor {
            margin: 0px auto;
            text-align: left;
            width: 700px;
        }

        input {
            margin: 10px 0px;
        }
    </style>

</head>
<body>
<h3>下面是富文本工具 KindEditor</h3>
<form action="EditServlet" method="post">
    <div id="div_editor">
        姓名：<input type="text" name="user" value="">
        景点地址：<input type="text" name="address" value="">
        景点电话：<input type="text" name="tel" value="">
        <textarea id="editor_id" name="content" style="width:700px;height:300px;resize: none"></textarea>
        密码：<input type="password" name="password" value=""><br>
        <input type="submit" value="提交">
    </div>
</form>
<hr>
<button onclick="getContent();">获取富文本框里的内容</button>
<button onclick="setContent();">设置富文本框里的内容</button>
</body>
</html>